@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="input-group">
        <label> first name</label>
        <input type="text" value="" class="form-control" />
    </div>
    <div class="input-group">
        <label>
            last name
        </label>
        <input type="text" value="" class="form-control" />
    </div>
</div>


