@{
    ViewBag.Title = "Home Page";
}

<table id="first" style="border:1px solid black; border-collapse:collapse">
    <tr>
        <td>C#</td>
        <td>ASP.NET</td>
        <td>SQL Server</td>
    </tr>
    <tr>
        <td>ADO.NET</td>
        <td>jQuery</td>
        <td>JavaScript</td>
    </tr>
    <tr>
        <td>AJAX</td>
        <td>CSS</td>
        <td>HTML</td>
    </tr>
    <tr>
        <td>VB</td>
        <td>Dot NET</td>
        <td>Visual C++</td>
    </tr>
    <tr>
        <td>Oracle</td>
        <td>Java</td>
        <td>J2EE</td>
    </tr>
</table>

<table id="second" style="border:1px solid black; border-collapse:collapse">
    <tr>
        <td>C#</td>
        <td>ASP.NET</td>
        <td>SQL Server</td>
    </tr>
    <tr>
        <td>ADO.NET</td>
        <td>jQuery</td>
        <td>JavaScript</td>
    </tr>
    <tr>
        <td>AJAX</td>
        <td>CSS</td>
        <td>HTML</td>
    </tr>
    <tr>
        <td>VB</td>
        <td>Dot NET</td>
        <td>Visual C++</td>
    </tr>
    <tr>
        <td>Oracle</td>
        <td>Java</td>
        <td>J2EE</td>
    </tr>
</table>
<br /><br />
<div>
    DIV 1
    <br />
    <a href="http://pragimtech.com">PragimTech</a>
</div>
<br /><br />
<a href="http://google.com">Google</a>
<br /><br />
<div>DIV 2</div>
<br /><br />
<span>SPAN 1</span>
<br /><br />
<div>DIV 3</div>