<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c960e62b-06af-4fcc-9f57-69ebde6042da/resourcegroups/deletemefrank/providers/Microsoft.Web/sites/LearnAngularJS20180115101340</ResourceId>
    <ResourceGroup>deletemefrank</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://learnangularjs20180115101340.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>learnangularjs20180115101340.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LearnAngularJS20180115101340</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LearnAngularJS20180115101340</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:learnangularjs.database.windows.net,1433;Initial Catalog=LearnAngularJS20180115101340_db;User ID=sqlserveradmin@learnangularjs;Password=Frank1@#" Name="Data Source=tcp:learnangularjs.database.windows.net,1433;Initial Catalog=LearnAngularJS20180115101340_db;User Id=sqlserveradmin@learnangularjs;Password=Frank1@#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Learn.AngularJS.DAL.MyDbContext, Learn.AngularJS" MigrationConfiguration="Learn.AngularJS.Migrations.Configuration, Learn.AngularJS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:learnangularjs.database.windows.net,1433;Initial Catalog=LearnAngularJS20180115101340_db;User Id=sqlserveradmin@learnangularjs;Password=Frank1@#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>